.main {
  .product-image {
    display: block;
    border: 1px solid #33B5E5;
    padding: 20px;
    border-radius: 4px;
    > img {
      width: 100%;
      aspect-ratio: 4 / 3;
      object-fit: cover;
    }
  }

  .product-content {
    margin-top: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .product-name {
      font-size: 18px;
      font-weight: 600;
    }
  }

  .product-control {
    margin-top: 8px;
    display: flex;
    align-items: center;

    gap: 8px;
    .product-select {
      flex-grow: 1;
    }
  }
}